
.moviesSection {
  padding: 2rem 1rem;
  max-width: 1400px;
  margin: 0 auto;
}

.sectionTitle {
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
  text-align: center;
}


@media (max-width: 768px) {  

  .moviesSection {
    padding: 2rem 0rem;
  }
  .sectionTitle {
    font-size: 1.7rem;
  }
  
}

